<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Home">
    <a class="nav-link" href="{% url 'core:home_page' %}">
      <i class="fa fa-fw fa-dashboard"></i>
      <span class="nav-link-text">Home</span>
    </a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Motoristas">
    <a class="nav-link" href="{% url 'core:motorista_list' %}">
      <i class="fa fa-fw fa-car"></i>
      <span class="nav-link-text">Motoristas</span>
    </a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Passageiros">
    <a class="nav-link" href="{% url 'core:passageiro_list' %}">
      <i class="fa fa-fw fa-users"></i>
      <span class="nav-link-text">Passageiros</span>
    </a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Corridas">
    <a class="nav-link" href="{% url 'core:corrida_list' %}">
      <i class="fa fa-fw fa-taxi"></i>
      <span class="nav-link-text">Corridas</span>
    </a>
  </li>
</ul>
