{% load static from staticfiles %}
{% load i18n %}
{% load tools %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Teste Camila Lima - Login</title>
  <!-- Bootstrap core CSS-->
  <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="{% static 'core/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="{% static 'core/css/sb-admin.css' %}" rel="stylesheet">
</head>
<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
        {% if form.errors %}
          <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
          </div>
        {% endif %}
        <form method="post"> {% csrf_token %}
          {% for field in form %}
            <div class="form-group">
              {{ field.label_tag }}
              {{ field|addcss:'form-control' }}
            </div>
          {% endfor %}
          <button class="btn btn-primary btn-block" type="submit">Login</button>
        </form>
        <br>
        <div class="text-center">
          <div class="alert alert-light" role="alert">
            Para testar utilize o usuario <b>guest</b> e senha <b>test1234</b>.
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- Core plugin JavaScript-->
  <script src="{% static 'core/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
</body>
</html>
