{% extends 'core/base.html' %}
{% block title %}
Remover motorista {{ object.name }}
{% endblock title %}
{% block content %}

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'core:home_page' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'core:motorista_list' %}">Motoristas</a>
        </li>
        <li class="breadcrumb-item active">
            Remover motorista: {{ object.name }}
        </li>
    </ol>

    <H1>Motorista {{ object.name }}</H1>

    <form method="post">{% csrf_token %}
        Tem certeza que deseja deletar o "{{ object.name }}" ?

        <div style="margin-top:20px">
            <a class="btn btn-success" href="{% url "core:motorista_list" %}">Não</a>
            <button class="btn btn-danger" type="submit" style="margin-left: 20%;">Sim</button>
        </div>
    </form>
{% endblock content %}




